# -*- mode: sh -*-
# $Id: NewWorld.cfg,v 1.160 2006/11/17 06:50:16 cvsrep Exp $
niche_space_dimensions_D=5
# Mmin = 0.2*femto_*gram # one bacterium
#Mmin = 1*micro_*gram # a pragmatic choice 
#Mmax = 100*kilogram # am Icebear

Mmax = 1000*kilogram
#Mmax = 1.001*10^(-13)*kilogram 
Mmin = 10^(-13)*kilogram  # range covered by Cohen et al 2003, PNAS
#Mmax = 1*gram             # range covered by Cohen et al 2003, PNAS
# prey can have 10-fold adult bodymass of predator:
predator_relative_size_Lambda = 0.03
mean_switching_exponent_b0=1.5
switching_exponent_std_b0tilde=0.3
cell_grid_resolution=1
number_of_plant_species=0 
trophic_niche_density_rho_t=10
typical_bodymass_ratio_d=3
loss_rate_over_max_production_rate_r=0.1

# use straight allometric exponents:
metabolic_rate_allometric_exponent = 0.75
attack_rate_allometric_exponent = -0.25
handling_time_allometric_exponent = 0.25
growth_rate_allometric_exponent = -0.25
growth_rate_allometric_prefactor = 5.2*10^(-09)/second

animal_physiology_version=2

n_neutral=0

flat_foraging_distribution=0
flat_vulnerability_distribution=0
flat_plant_distribution=0

plant_vulnerability_variability=0.2
plant_vulnerability_separation=0.7
plant_vulnerability_relative_weight=1
animal_vulnerability_variability=0.2
foraging_over_variability_f0=3
mu_V=sqrt(0.014)*animal_vulnerability_variability
plant_mu_V_boost=1
mu_G=mu_V
mu_F=4*sqrt(0.22)
trait_evolution_version=1

plant_niche_density_rho_p=0.2
relative_yearly_modulation=0
new_plant_model=1
big_plants_eaten=1
plants_are_light_limited=2
plant_shadowing=0
plant_hardening_time=0

biomass_balancing=0
unified_invasion_pressure_kappa=0
stop_after_one_period=2
skip_also_chaos=1

invade_from_other=2

# Peters (1993) p. 170 mentiones a total net primary production of "1
# to 50 tons dry mass ha^-1 y^-1":
area_per_compartment=1000*ha  #Tuesday Lake after 
                              #Drenner and Mazumder 1999 (Ecol)
dominating_species_primary_production=area_per_compartment*10*tons/year/ha/(log(1/loss_rate_over_max_production_rate_r))

attack_rate_correction_factor_a0=10^8/ area_per_compartment
small_prey_exponent_alpha=0.075

typical_aggressivity_ratio_da=1.2
aggressivity_decay=0.9

#time_between_speciations=30*years
time_between_insertions=30*years
time_between_analysis=10000000*years
time_between_saving=25*time_between_insertions
chunk_length=100000*year
observation_time=4*10^6
random_seed=random
check_interval=1*day
time_between_printout=time_between_insertions
print_each_step=0

#PRECISION_OF_VECTOR_PRINT=
DEFAULT_ABSOLUTE_TOLERANCE=0.01
DEFAULT_RELATIVE_TOLERANCE=0
#MAX_INTEGRATOR_STEPS=100000000

TRACEFLAG=0
